a{
  text-decoration: none;
  color: black;
}

#chkStatusDiv{
  margin-top: 4rem;
}

.navLinks{
  background-color: rgb(253, 185, 185);
  margin: 0 10rem 0 10rem;
}

.navLinks:hover{
  background-color: rgb(251, 130, 130);
}

#title u{
  text-decoration-color: rgb(220,53,68);
  text-underline-offset: 15px;
}

#generateQRForm{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    flex-direction: column;
    margin: 5rem 40rem 0 40rem;
}

#generateBtn{
  background-color: rgb(220,53,68);
  color: white;
}

input{
  min-width: 20rem;
}

button{
  min-width: 8rem;
}