body{
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.form-div{
  max-width: 30%;
  background-color: rgb(243, 243, 243);
  margin-top: 7rem;
}

.navbar{
  text-align: center;
}

#qr-code-img{
  padding-top: 3rem;
  height: 200px;
}