a{
  text-decoration: none;
  color: black;
}

#chkStatusDiv{
  margin-top: 4rem;
}

.navLinks{
  margin: 0 15rem 0 15rem;
  border-width: 3px;
  border-color: #1c5890;
  border-style: solid;
  border-radius: 6px;
}

.navLinksInActive{
  background-color: #bddbff;
}

.navLinksActive{
  background-color: #83bbff;
}

.navLinks:hover{
  background-color: #83bbff;
}

#title u{
  text-decoration-color: #004C91;
  text-underline-offset: 15px;
}

#generateQRForm{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    flex-direction: column;
    margin: 5rem 40rem 0 40rem;
}

#generateBtn{
  background-color: #004C91;
  color: white;
}

input{
  min-width: 20rem;
}

button{
  min-width: 8rem;
}

table, th, td {
  border: 3px solid #dbdcde;
}

table{
  table-layout: fixed;
}